.App {
  text-align: center;
  height: inherit;
}

.chat {
  height: inherit;
}

.message-area {
  height: 90%;
  overflow: auto;
}

.input-area {
  height: 10%;
}

.bot-msg, .user-msg {
  text-align: left;
  background-color: lightslategray;
  color: white;
  min-width: 200px;
  max-width: calc(100% - 200px);
  border-radius: 5px;
  margin: 0 5px 0 5px;
}

.user-msg {
  float: right;
}

.bot-msg > p, .user-msg > p {
  padding-left: 8px;
}